.loader {
  height: 204px;
  animation: pulse 1.5s infinite;
  transition: all 0.3s ease;
}

.card {
  border-radius: var(--radius-lg);
  padding: 20px;
  box-shadow: var(--shadow-xs);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
