.layout {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  padding-bottom: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}
