.toggleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleTrack {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
  position: relative;
  width: 30px;
  height: 20px;
  padding: 0 6px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* click areas */
.toggleHalf {
  position: relative;
  z-index: 2;
  width: 50%;
  height: 100%;
  cursor: pointer;
}

/* thumb */
.toggleThumb {
  position: absolute;
  top: 2.5px;
  left: 4px;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: transform 0.3s ease;
  z-index: 1;
  cursor: pointer;
}

/* move thumb when toggled */
.toggled .toggleThumb {
  transform: translateX(20px);
}
