.searchContainer {
  position: relative;
  width: 100%;
  max-width: 400px; /* Adjust width */
  display: flex;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1); /* Glass effect */
  backdrop-filter: blur(12px);
  border-radius: 12px;
}

.input {
  width: 100%;
  padding: 12px 45px 12px 15px; /* Extra padding to the right for the icon */
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.button:hover {
  color: white;
  transform: translateY(-50%) scale(1.1);
}

@media screen and (max-width: 768px) {
  .searchContainer {
    max-width: 100%;
  }
}
