.searchContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  border-radius: var(--radius-lg);
}

.input {
  width: 100%;
  padding: 12px 45px 12px 15px;
  border-radius: var(--radius-lg);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-medium);
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--foreground);
  outline: none;
  border: none;
}

.input::placeholder {
  color: var(--foreground);
}

.input:focus {
  outline: var(--outline);
}

.button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: translateY(-50%) scale(1.1);
}

@media screen and (max-width: 768px) {
  .searchContainer {
    max-width: 100%;
  }
}
