@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --_mesh-gradient-blur: 0px;
  --_mesh-gradient-blend-mode: normal;
}

body {
  font-family: "Geist", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

body {
  margin: 0;
  background: radial-gradient(at 11% 43%, #f020e2 0px, transparent 50%),
    radial-gradient(at 92% 73%, #f09620 0px, transparent 50%),
    radial-gradient(at 89% 53%, #20f02e 0px, transparent 50%),
    radial-gradient(at 47% 34%, #207af0 0px, transparent 50%) #000000;
  mix-blend-mode: var(--_mesh-gradient-blend-mode);
  filter: blur(var(--_mesh-gradient-blur));
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
