.notFound {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
  color: var(--muted-foreground);
}

.link {
  text-decoration: underline;
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  color: var(--muted-foreground);
}
